<title><%= page.title ? `${page.title} | ${config.title}` : config.title %></title>
<meta name="description" content="<%= page.description || config.description %>">
<meta name="keywords" content="<%= (page.keywords || []).concat(page.tags ? page.tags.map(tag => tag.name) : []).join(',') %>">
<meta property="og:title" content="<%= page.title || config.title %>">
<meta property="og:description" content="<%= page.description || config.description %>">
<meta property="og:image" content="<%= page.cover || theme.site.logo.url %>">
<meta property="og:site_name" content="良技漫谈"> 